<!DOCTYPE html>
<html>
	<head fragment="head(title)">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title replace="${title}"></title>
    	<link rel="stylesheet" type="text/css" media="all" href="@{/resources/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" href="@{/resources/style.css}"/>
	</head>
	<body>
        <div fragment="footer">
            <script type="text/javascript" src="@{/resources/bootstrap.min.js}" ></script>
            <script type="text/javascript" src="@{/resources/project.js}"></script>
        </div>
	</body>
</html>